# Scraping [Simon Fraser University faculty list](https://www.sfu.ca/computing/people/faculty.html)

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import os

In [2]:
response = requests.get('https://www.sfu.ca/computing/people/faculty.html', timeout=5)

In [3]:
soup = BeautifulSoup(response.content)

In [4]:
staff_sections = soup.find_all('div', attrs={'class', 'textimage section'})
staff_df = pd.DataFrame(columns = ['Name', 'Role', 'Aoi'])

In [5]:
for cnt, section in enumerate(staff_sections):
    staff = section.find_all('div', attrs = {'class', 'text'})[0]
    tmp = staff.find_all('h4')[0]
    name= tmp.text.split(',')[0]
    role = ','.join(tmp.text.split(',')[1:])
    name = name.strip()
    role = role.strip()
    aoi = staff.p.text.split(':')
    if(len(aoi)==2):
        aoi = aoi[-1].strip()
    else:
        aoi = None
    staff_df.loc[cnt] = [name, role, aoi]

In [6]:
staff_df.head()

,Name,Role,Aoi
0,Yagiz Aksoy,Assistant Professor,"Computational photography, computer graphics, ..."
1,Brad Bart,"SENIOR LECTURER \nAssociate Director, Administ...",Instruction
2,Angel Chang,Assistant Professor,"Natural Language Processing, Artificial Intell..."
3,SHEELAGH CARPENDALE,PROFESSOR,Information Visualization
4,LEONID CHINDELEVITCH,ASSISTANT PROFESSOR,Computational Biology

In [8]:
staff_df.shape[0]

64